[user]
	name = Mark Schifflin
	email = rschifflin@hotmail.com
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
        tip = "!git push -u origin `git symbolic-ref HEAD`"
        graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        pre = "!git br `git rev-parse --abbrev-ref HEAD`-pre"
        post = "!git br -d `git rev-parse --abbrev-ref HEAD`-pre"
        POST = "!git br -D `git rev-parse --abbrev-ref HEAD`-pre"
        root = "!git rev-parse --show-toplevel"
        recent = "!git for-each-ref --sort=committerdate --format='%(refname:short)' refs/heads/"
[diff]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[merge]
        conflictstyle = diff3
[push]
        default = simple
