[user]
	name = Mark Schifflin
	email = rschifflin@hotmail.com
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
        tip = "!git push -u origin `git symbolic-ref HEAD`" 
[diff]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
